@model List<laalou.Models.Produit>

@{
    ViewData["Title"] = "Home Page";
}

<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Your Products Are Great.</h1>
                                <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image-holder">
                                <img src="images/banner-image.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                                <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image-holder">
                                <img src="images/banner-image.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left">
            <use xlink:href="#chevron-left" />
        </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right">
            <use xlink:href="#chevron-right" />
        </svg>
    </div>
</section>
<!-------------------------------------------------------------------------------------->

<section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
                <div class="btn-right">
                    <a href="@Url.Action("Category", "Home", new { category = "mobile" })" class="btn btn-medium btn-normal text-uppercase">Go to Mobile Category</a>
                </div>
            </div>
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        if (item.Catid == 1) // Afficher uniquement les images avec CatId = 1
                        {
                            <div class="swiper-slide">
                                <div class="product-card position-relative">
                                    <div class="image-holder">
                                        <a href="@Url.Action("Privacy", "Home", new { id = item.Id })">
                                            <img src="~/images/@item.Photo" alt="product-item" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="cart-concern position-absolute">
                                        <div class="cart-button d-flex">
                                            <a href="@Url.Action("AddToCart", "Home", new { id = item.Id })" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                                        </div>
                                    </div>
                                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                        <h3 class="card-title text-uppercase">
                                            <a href="@Url.Action("Privacy", "Home", new { id = item.Id })">@item.Nom</a>
                                        </h3>
                                        <span class="item-price text-primary">@item.Prix</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>


<section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Smart Watches</h2>
                <div class="btn-right">
                    <a href="@Url.Action("Category", "Home", new { category = "watches" })" class="btn btn-medium btn-normal text-uppercase">Go to Watches Category</a>
                </div>
            </div>
            <div class="swiper product-watch-swiper">
                <div class="swiper-wrapper">
                    @foreach (var item in Model)
                    {
                        if (item.Catid == 2) // Afficher uniquement les images avec CatId = 2 pour les montres
                        {
                            <div class="swiper-slide">
                                <div class="product-card position-relative">
                                    <div class="image-holder">
                                        <a href="@Url.Action("Privacy", "Home", new { id = item.Id })">
                                            <img src="~/images/@item.Photo" alt="product-item" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="cart-concern position-absolute">
                                        <div class="cart-button d-flex">
                                            <a href="@Url.Action("AddToCart", "Home", new { id = item.Id })" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                                        </div>
                                    </div>
                                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                        <h3 class="card-title text-uppercase">
                                            <a href="@Url.Action("Privacy", "Home", new { id = item.Id })">@item.Nom</a>
                                        </h3>
                                        <span class="item-price text-primary">@item.Prix</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
</section>

<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="row">
            <div class="display-header d-flex justify-content-between pb-3">
                <h2 class="display-7 text-dark text-uppercase">Latest Posts</h2>
                <div class="btn-right">
                    <a href="@Url.Action("Blog", "Home")" class="btn btn-medium btn-normal text-uppercase">Read Blog</a>
                </div>
            </div>
            <div class="post-grid d-flex flex-wrap justify-content-between">
                @foreach (var post in Model)
                {
                    if (post.Catid == 3 || post.Catid == 4 || post.Catid == 5) // Afficher uniquement les images avec CatId = 3, 4 ou 5
                    {
                        <div class="col-lg-4 col-sm-12">
                            <div class="card border-none me-3">
                                <div class="card-image">
                                    <a href="@Url.Action("Privacy", "Home", new { id = post.Id })">
                                        <img src="~/images/@post.Photo" alt="post-item" class="img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body text-uppercase">
                                <div class="card-meta text-muted">
                                    <span class="meta-date">@post.Nom</span>
                                    <span class="meta-category">- @post.Description</span>
                                </div>
                               
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

